body {
  width: 960px; /*set lebar body website*/
  margin: 30px auto; /*set posisi body (auto; left; right; center)*/
  background-image:url(49edb0f200de7e97ab0a90c228ed54fd.gif) 
}
main {
  display: flex;
}
.logo,
.navigasi,
.konten,
.footer 
{
  margin-bottom: 5px;
  padding: 15px 0;
}
.logo {
  width: 100%;
  height: auto;
  background: transparent;
  text-align: center;
  font-family: lucida handwriting;
  background-image:url(ZeQY.gif);
}
.navigasi {
  width: 100%;
  height: auto;
  background: transparent;
  text-align: center;
  font-family: lucida handwriting;
  background-image:url(ZeQY.gif);
}
.content {
  width: 100%;
  height: auto;
  background: transparent;
  text-align: center;
  font-family: mv boli;
  background-image:url(ZeQY.gif);
}
.footer {
  width: 100%;
   height:40%;
  background:transparent;
  text-align: center;
   background-image:url(ZeQY.gif);
}